!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xmlns:o" => "urn:schemas-microsoft-com:office:office", "xmlns:v" => "urn:schemas-microsoft-com:vml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    / NAME: SUBSCRIBER ALERT
    /[if gte mso 15]
      <xml>
      <o:OfficeDocumentSettings>
      <o:AllowPNG/>
      <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
      </xml>
    %meta{:charset => "UTF-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title *|MC:SUBJECT|*
    / ////// OUTLOOK-SPECIFIC STYLES /////
    /[if gte mso 7]
      <style type="text/css">
      </style>
    :css
      *{
        font-family: helvetica !important
      }
      .avatar_full_name {
        display: flex;
        align-content: center;
        align-items: center;

        .h3 {
          padding-left: 25px;
        }
      }
      .user-initials-wrap {
        width: 100%;
      }
      .user-initials-wrap > .user-initials {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        display: block;
        display: flex;
        align-items: center;
        overflow: hidden;
        background-color: rgb(45,50,62);
        color: rgba(255,255,255,1);
        margin-bottom: 10px;
        margin: 0 auto;
        font-size: 1.2rem;
        font-family: Helvetica;
      }
      #avatar{
        width: 100px;
        height: 100px;
        object-fit: contain;
        border-radius: 50%;
      }
      #avatar-no-circle{
        width: 100px;
        height: 100px;
        object-fit: contain;
      }
      #circle{
        width:100px !important;
        height: 100px !important;
        display: inline-block;
        border-radius: 50%;
      }
      #no-circle{
        width:100px !important;
        height: 100px !important;
        display: inline-block;
      }
      p{
            margin:0px 0;
            padding:0;
          }
          table{
            border-collapse:collapse;
          }
          h1,h2,h3,h4,h5,h6{
            display:block;
            margin:0;
            padding:0;
          }
          img,a img{
            border:0;
            height:auto;
            outline:none;
            text-decoration:none;
          }
          body,#bodyTable,#bodyCell{
            height:100%;
            margin:0;
            padding:0;
            width:100%;
          }
          #outlook a{
            padding:0;
          }
          img{
            -ms-interpolation-mode:bicubic;
          }
          table{
            mso-table-lspace:0pt;
            mso-table-rspace:0pt;
          }
          .ReadMsgBody{
            width:100%;
          }
          .ExternalClass{
            width:100%;
          }
          p,a,li,td,blockquote{
            mso-line-height-rule:exactly;
          }
          a[href^=tel],a[href^=sms]{
            color:inherit;
            cursor:default;
            text-decoration:none;
          }
          p,a,li,td,body,table,blockquote{
            -ms-text-size-adjust:100%;
            -webkit-text-size-adjust:100%;
          }
          .ExternalClass,.ExternalClass p,.ExternalClass td,.ExternalClass div,.ExternalClass span,.ExternalClass font{
            line-height:100%;
          }
          a[x-apple-data-detectors]{
            color:inherit !important;
            text-decoration:none !important;
            font-size:inherit !important;
            //font-family:inherit !important;
            font-weight:inherit !important;
            line-height:inherit !important;
          }
          a.mcnButton{
            display:block;
          }
          .mcnImage{
            vertical-align:bottom;
          }
          .mcnTextContent{
            word-break:break-word;
          }
          .mcnTextContent img{
            height:auto !important;
          }
          .mcnDividerBlock{
            table-layout:fixed !important;
          }
          .templateContainer > tbody{
            border-radius: 20px;
          }

        /*
        @tab Page
        @section background style
        @tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.
        */
          body,#bodyTable{
            /*@editable*/background-color:#F2F2F2;
          }
        /*
        @tab Page
        @section background style
        @tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.
        */
          #bodyCell{
            /*@editable*/border-top:5px solid #FFFFFF;
          }
        /*
        @tab Page
        @section heading 1
        @tip Set the styling for all first-level headings in your emails. These should be the largest of your headings.
        @style heading 1
        */
          h1{
            /*@editable*/color:#424b56 !important;
            /*@editable*/font-family:Helvetica;
            /*@editable*/font-size:26px;
            /*@editable*/font-style:normal;
            /*@editable*/font-weight:bold;
            /*@editable*/line-height:125%;
            /*@editable*/letter-spacing:normal;
            /*@editable*/text-align:left;
          }
        /*
        @tab Page
        @section heading 2
        @tip Set the styling for all second-level headings in your emails.
        @style heading 2
        */
          h2{
            /*@editable*/color:#FFFFFF !important;
            /*@editable*/font-family:Helvetica;
            /*@editable*/font-size:22px;
            /*@editable*/font-style:normal;
            /*@editable*/font-weight:bold;
            /*@editable*/line-height:125%;
            /*@editable*/letter-spacing:normal;
            /*@editable*/text-align:left;
          }
        /*
        @tab Page
        @section heading 3
        @tip Set the styling for all third-level headings in your emails.
        @style heading 3
        */
          h3{
            /*@editable*/color:#D55258 !important;
            /*@editable*/font-family:Helvetica;
            /*@editable*/font-size:18px;
            /*@editable*/font-style:normal;
            /*@editable*/font-weight:bold;
            /*@editable*/line-height:125%;
            /*@editable*/letter-spacing:normal;
            /*@editable*/text-align:left;
          }
        /*
        @tab Page
        @section heading 4
        @tip Set the styling for all fourth-level headings in your emails. These should be the smallest of your headings.
        @style heading 4
        */
          h4{
            /*@editable*/color:#d55258 !important;
            /*@editable*/font-family:Helvetica;
            /*@editable*/font-size:16px;
            /*@editable*/font-style:normal;
            /*@editable*/font-weight:bold;
            /*@editable*/line-height:125%;
            /*@editable*/letter-spacing:normal;
            /*@editable*/text-align:left;
          }
        /*
        @tab Preheader
        @section preheader style
        @tip Set the background color and borders for your email's preheader area.
        */
          #templatePreheader{
            /*@editable*/background-color:#F2F2F2;
            /*@editable*/border-top:0;
            /*@editable*/border-bottom:0;
          }
        /*
        @tab Preheader
        @section preheader text
        @tip Set the styling for your email's preheader text. Choose a size and color that is easy to read.
        */
          .preheaderContainer .mcnTextContent,.preheaderContainer .mcnTextContent p{
            /*@editable*/color:#404040;
            /*@editable*/font-family:Helvetica;
            /*@editable*/font-size:12px;
            /*@editable*/line-height:125%;
            /*@editable*/text-align:left;
          }
        /*
        @tab Preheader
        @section preheader link
        @tip Set the styling for your email's header links. Choose a color that helps them stand out from your text.
        */
          .preheaderContainer .mcnTextContent a{
            /*@editable*/color:#404040;
            /*@editable*/font-weight:normal;
            /*@editable*/text-decoration:underline;
          }
        /*
        @tab Header
        @section header style
        @tip Set the background color and borders for your email's header area.
        */
          #templateHeader{
            /*@editable*/background-color:#F2F2F2;
            /*@editable*/border-top:0;
            /*@editable*/border-bottom:0;
          }
        /*
        @tab Header
        @section header container
        @tip Set the background color and bottom border for your email's header text container.
        */
          .headerTop{
            text-align: center;
            font-family: Avenir;
            padding-top: 24px;
            padding-left: 18px;
            padding-right: 18px;
            background-color: #FFFFFF;
            letter-spacing: normal;
            line-height: 100%;
            color: #000000;
            font-size: 1.4rem;
            margin-bottom: 0px;
            margin-top: 0px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
            cursor: default;
          }

          .headerFrontBackground,.headerRearBackground{
            /*@editable*/background-color:#ffffff;
          }
        /*
        @tab Header
        @section header container
        @tip Set the background color and bottom border for your email's header text container.
        */
          .headerFrontBackground{
            /*@editableborder-bottom:2px solid #424b56;*/
          }
        /*
        @tab Header
        @section header text
        @tip Set the styling for your email's header text. Choose a size and color that is easy to read.
        */
          .headerContainer {
          }

          .headerContainer .mcnTextContent,.headerContainer .mcnTextContent p{
            /*@editable*/color:#424b56;
            /*@editable*/font-family:Helvetica;
            /*@editable*/font-size:16px;
            /*@editable*/line-height:150%;
            /*@editable*/text-align:left;
          }
        /*
        @tab Header
        @section header link
        @tip Set the styling for your email's header links. Choose a color that helps them stand out from your text.
        */
          .headerContainer .mcnTextContent a{
            /*@editable*/color:#039BE5;
            /*@editable*/font-weight:normal;
            /*@editable*/text-decoration:underline;
          }
        /*
        @tab Body
        @section body style
        @tip Set the background color and borders for your email's body area.
        */
          #templateBody{
            /*@editable*/background-color:#F2F2F2;
            /*@editable*/border-top:0;
            /*@editable*/border-bottom:0;
          }
        /*
        @tab Body
        @section body text
        @tip Set the styling for your email's body text. Choose a size and color that is easy to read.
        */
          .bodyContainer .mcnTextContent,.bodyContainer .mcnTextContent p{
            /*@editable*/color:#606060;
            /*@editable*/font-family:Helvetica;
            /*@editable*/font-size:14px;
            /*@editable*/line-height:150%;
            /*@editable*/text-align:left;
          }

          #templateBody .mcnTextContentContainer .mcnTextContent div {
            font-size:12px !important;
            line-height: 160% !important;
          }
        /*
        @tab Body
        @section body link
        @tip Set the styling for your email's body links. Choose a color that helps them stand out from your text.
        */
          .bodyContainer .mcnTextContent a{
            /*@editable*/color:#00b2e0;
            /*@editable*/font-weight:normal;
            /*@editable*/text-decoration:underline;
          }
        /*
        @tab Footer
        @section footer style
        @tip Set the background color and borders for your email's footer area.
        */
          #templateFooter{
            /*@editable*/background-color:#F2F2F2;
            /*@editable*/border-top:0;
            /*@editable*/border-bottom:0;
          }
        /*
        @tab Footer
        @section footer text
        @tip Set the styling for your email's footer text. Choose a size and color that is easy to read.
        */
          .footerContainer .mcnTextContent,.footerContainer .mcnTextContent p{
            /*@editable*/color:#AAAAAA;
            /*@editable*/font-family:Helvetica;
            /*@editable*/font-size:10px;
            /*@editable*/line-height:125%;
            /*@editable*/text-align:center;
          }
        /*
        @tab Footer
        @section footer link
        @tip Set the styling for your email's footer links. Choose a color that helps them stand out from your text.
        */
          .footerContainer .mcnTextContent a{
            /*@editable*/color:#AAAAAA;
            /*@editable*/font-weight:normal;
            /*@editable*/text-decoration:underline;
          }
        @media only screen and (max-width: 480px){
          body,table,td,p,a,li,blockquote{
            -webkit-text-size-adjust:none !important;
          }

      } @media only screen and (max-width: 480px){
          body{
            width:100% !important;
            min-width:100% !important;
          }

      } @media only screen and (max-width: 480px){
          .templateContainer{
            max-width:600px !important;
            width:100% !important;
            border-radius: 20px;
          }

      } @media only screen and (max-width: 480px){
          .mcnImage{
            width:100% !important;
          }

      } @media only screen and (max-width: 480px){
          .mcnCartContainer,.mcnCaptionTopContent,.mcnRecContentContainer,.mcnCaptionBottomContent,.mcnTextContentContainer,.mcnBoxedTextContentContainer,.mcnImageGroupContentContainer,.mcnCaptionLeftTextContentContainer,.mcnCaptionRightTextContentContainer,.mcnCaptionLeftImageContentContainer,.mcnCaptionRightImageContentContainer,.mcnImageCardLeftTextContentContainer,.mcnImageCardRightTextContentContainer{
            max-width:100% !important;
            width:100% !important;
          }

      } @media only screen and (max-width: 480px){
          .mcnBoxedTextContentContainer{
            min-width:100% !important;
          }

      } @media only screen and (max-width: 480px){
          .mcnImageGroupContent{
            padding:9px !important;
          }

      } @media only screen and (max-width: 480px){
          .mcnCaptionLeftContentOuter .mcnTextContent,.mcnCaptionRightContentOuter .mcnTextContent{
            padding-top:9px !important;
          }

      } @media only screen and (max-width: 480px){
          .mcnImageCardTopImageContent,.mcnCaptionBlockInner .mcnCaptionTopContent:last-child .mcnTextContent{
            padding-top:18px !important;
          }

      } @media only screen and (max-width: 480px){
          .mcnImageCardBottomImageContent{
            padding-bottom:9px !important;
          }

      } @media only screen and (max-width: 480px){
          .mcnImageGroupBlockInner{
            padding-top:0 !important;
            padding-bottom:0 !important;
          }

      } @media only screen and (max-width: 480px){
          .mcnImageGroupBlockOuter{
            padding-top:9px !important;
            padding-bottom:9px !important;
          }

      } @media only screen and (max-width: 480px){
          .mcnTextContent,.mcnBoxedTextContentColumn{
            padding-right:18px !important;
            padding-left:18px !important;
          }

      } @media only screen and (max-width: 480px){
          .mcnImageCardLeftImageContent,.mcnImageCardRightImageContent{
            padding-right:18px !important;
            padding-bottom:0 !important;
            padding-left:18px !important;
          }

      } @media only screen and (max-width: 480px){
          .mcpreview-image-uploader{
            display:none !important;
            width:100% !important;
          }

      } @media only screen and (max-width: 480px){
        /*
        @tab Mobile Styles
        @section heading 1
        @tip Make the first-level headings larger in size for better readability on small screens.
        */
          h1{
            /*@editable*/font-size:24px !important;
            /*@editable*/line-height:125% !important;
          }

      } @media only screen and (max-width: 480px){
        /*
        @tab Mobile Styles
        @section heading 2
        @tip Make the second-level headings larger in size for better readability on small screens.
        */
          h2{
            /*@editable*/font-size:20px !important;
            /*@editable*/line-height:125% !important;
          }

      } @media only screen and (max-width: 480px){
        /*
        @tab Mobile Styles
        @section heading 3
        @tip Make the third-level headings larger in size for better readability on small screens.
        */
          h3{
            /*@editable*/font-size:18px !important;
            /*@editable*/line-height:125% !important;
          }

      } @media only screen and (max-width: 480px){
        /*
        @tab Mobile Styles
        @section heading 4
        @tip Make the fourth-level headings larger in size for better readability on small screens.
        */
          h4{
            /*@editable*/font-size:16px !important;
            /*@editable*/line-height:125% !important;
          }

      } @media only screen and (max-width: 480px){
        /*
        @tab Mobile Styles
        @section Boxed Text
        @tip Make the boxed text larger in size for better readability on small screens. We recommend a font size of at least 16px.
        */
          .mcnBoxedTextContentContainer .mcnTextContent,.mcnBoxedTextContentContainer .mcnTextContent p{
            /*@editable*/font-size:16px !important;
            /*@editable*/line-height:160% !important;
          }

      } @media only screen and (max-width: 480px){
        /*
        @tab Mobile Styles
        @section Preheader Visibility
        @tip Set the visibility of the email's preheader on small screens. You can hide it to save space.
        */
          #templatePreheader{
            /*@editable*/display:block !important;
          }

      } @media only screen and (max-width: 480px){
        /*
        @tab Mobile Styles
        @section Preheader Text
        @tip Make the preheader text larger in size for better readability on small screens.
        */
          .preheaderContainer .mcnTextContent,.preheaderContainer .mcnTextContent p{
            /*@editable*/font-size:14px !important;
            /*@editable*/line-height:115% !important;
          }

      } @media only screen and (max-width: 480px){
        /*
        @tab Mobile Styles
        @section Header Text
        @tip Make the header text larger in size for better readability on small screens.
        */
          .headerContainer .mcnTextContent,.headerContainer .mcnTextContent p{
            /*@editable*/font-size:16px !important;
            /*@editable*/line-height:160% !important;
          }

      } @media only screen and (max-width: 480px){
        /*
        @tab Mobile Styles
        @section Body Text
        @tip Make the body text larger in size for better readability on small screens. We recommend a font size of at least 16px.
        */
          .bodyContainer .mcnTextContent,.bodyContainer .mcnTextContent p{
            /*@editable*/font-size:16px !important;
            /*@editable*/line-height:160% !important;
          }

      } @media only screen and (max-width: 480px){
        /*
        @tab Mobile Styles
        @section footer text
        @tip Make the body content text larger in size for better readability on small screens.
        */
          .footerContainer .mcnTextContent,.footerContainer .mcnTextContent p{
            /*@editable*/font-size:14px !important;
            /*@editable*/line-height:115% !important;
          }
      }
      .templateContainer.top-image { max-width: initial !important; }

  %body
    %center
      %table#bodyTable{:border => "0", :cellpadding => "0", :cellspacing => "0", :height => "100%", :width => "100%"}
        %tr
          %td#bodyCell{:align => "center", :valign => "top"}
            / BEGIN TEMPLATE //
            %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
              %tr
                %td{:align => "center", :valign => "top"}
                  / BEGIN PREHEADER //
                  %table#templatePreheader{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                    %tr
                      %td{:align => "center", :valign => "top", :style => "text-align: -moz-center; text-align: center;"}
                        %table.templateContainer.top-image{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600", :align => 'center'}
                          %tr
                            %td.preheaderContainer{:style => "padding-top:10px; padding-bottom:10px;", :valign => "top"}
                              %table.mcnDividerBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width:100%;", :width => "100%"}
                                %tbody.mcnDividerBlockOuter
                                  %tr
                                    %td.mcnDividerBlockInner{:style => "min-width:100%; padding:6px;"}
                                      %table.mcnDividerContent{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width:100%;", :width => "100%"}
                                        %tbody
                                          %tr
                                            %td
                                              %span

                              %table.mcnImageBlock{:border => "0", :align => 'center', :cellpadding => "0", :cellspacing => "0", :style => "min-width:100%;", :width => "100%"}
                                %tbody.mcnImageBlockOuter
                                  %tr
                                    %td.mcnImageBlockInner{:style => "padding:9px", :valign => "top"}
                                      %table.mcnImageContentContainer{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
                                        %tbody
                                          %tr
                                            %td.mcnImageContent{:style => "padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0; text-align:center;", :valign => "top"}
                                              - if locals[:img_src] == ""
                                                .avatar_full_name{:align=> "center"}
                                                  .user-initials-wrap
                                                    .user-initials.md-primary-bg
                                                      %span{:style=>"background-color: rgb(45, 50, 62); color: white; min-width: 54px; border-radius: 50%; padding: 24px;"}
                                                        =locals[:initials]
                                              - elsif locals[:img_src] != 'reset-pass-admin'
                                                -if locals[:company_logo]
                                                  #no-circle
                                                    %img.mcnImage#avatar-no-circle{:src => "#{locals[:img_src]}"}
                                                -else
                                                  #circle
                                                    %img.mcnImage#avatar{:src => "#{locals[:img_src]}"}

              %tr
                %td{:align => "center", :valign => "top"}
                  %table#templateHeader{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                    %tr
                      %td{:align => "center", :style => "padding-top:20px; padding-bottom:20px;", :valign => "top"}
                        %table.templateContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
                          %tr
                            %td.headerTop{:align => "center" }
                              %p{:style => "border-bottom: 0.5px solid #D3D3D3; padding-bottom: 20px;"}
                                = locals[:email_title]

                          %tr
                            %td{:align => "center", :colspan => "3", :valign => "top"}
                              %table.headerFrontBackground{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                                %tr
                                  %td{:align => "center", :valign => "top"}
                                    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                                      %tr
                                        %td.headerContainer{:style => "padding-top:20px; padding-bottom:0px;", :valign => "top"}
                                          %table.mcnTextBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width:100%;", :width => "100%"}
                                            %tbody.mcnTextBlockOuter
                                              %tr
                                                %td.mcnTextBlockInner{:style => "padding-top:1px;", :valign => "top"}
                                                  %table.mcnTextContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "max-width:100%; min-width:100%;", :width => "100%"}
                                                    %tbody
                                                      -if locals[:email_body_title]
                                                        %tr
                                                          %td.headerTop{:align => "center", :style => "padding-top: 0px !important; padding-bottom: 14px !important ; font-family: helvetica !important; font-size: 16px !important"}
                                                            = locals[:email_body_title].html_safe
                                                      %tr
                                                        %td.mcnTextContent{:style => "padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px; text-align:left; word-break:break-word", :valign => "top"}
                                                          -if locals[:email_body_html].present?
                                                            = locals[:email_body_html].html_safe
                                      -if locals[:body_button_text] != ""
                                        %tr
                                          %td
                                            %table.mcnButtonBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width:100%;", :width => "100%"}
                                              %tbody.mcnButtonBlockOuter
                                                %tr
                                                  %td.mcnButtonBlockInner{:align => "center", :style => "padding-top:0; padding-right:18px; padding-bottom:18px; padding-left:18px;", :valign => "top"}
                                                    %table.mcnButtonContentContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: separate !important;border: 2px solid #F2F2F2;border-radius: 4px;background-color: #{locals[:body_button_color]};"}
                                                      %tbody
                                                        %tr
                                                          %td.mcnButtonContent{:align => "center", :style => "font-family: Arial; font-size: 16px; padding: 20px;", :valign => "middle"}
                                                            -if locals[:manager_email_flag]
                                                              %a.mcnButton{:href => "#{locals[:body_button_link]}", :onclick=>"window.open('#{locals[:body_button_link]}', '_blank')", :style => "font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;", :target => "_blank"}
                                                                = locals[:body_button_text]
                                                            -else
                                                              %a.mcnButton{:href => "#{locals[:body_button_link]}", :style => "font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;", :target => "_blank"}
                                                                = locals[:body_button_text]
                %tr
                  %td{:align => "center", :valign => "top"}
                    / BEGIN BODY //
                    %table#templateBody{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                      %tr
                        %td{:align => "center", :valign => "top"}
                          %table.templateContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
                            %tr
                              %td.bodyContainer{:style => "padding-top:10px; padding-bottom:10px;", :valign => "top"}
                                %table.mcnTextBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width:100%;", :width => "100%"}
                                  %tbody.mcnTextBlockOuter
                                    %tr
                                      %td.mcnTextBlockInner{:style => "padding-top:9px;", :valign => "top"}
                                        %table.mcnTextContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "max-width:100%; min-width:100%;", :width => "100%"}
                                          %tbody
                                            -if locals[:footer_linked] != ""
                                              %tr{:style => "display: grid; margin-bottom:35px;"}
                                                %td.mcnTextContent{:style => "padding-top:0; padding-right:18px; padding-left:18px;", :valign => "top"}
                                                  %div{:style => "text-align: center; font-size: 15px !important;"}
                                                    = locals[:footer_plain]
                                                    %a{:href => "#{locals[:footer_link]}", :target => "_blank", :style => "color:#606060; font-size: 15px !important; padding-right: 0px; padding-bottom: 10px; padding-top: 10px; margin-bottom: 25px; text-decoration: none"}
                                                      = locals[:footer_linked]

                                          %tr
                                            %td.mcnTextContent{:style => "padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;", :valign => "top"}
                                              %div{:style => "text-align: center;"}
                                                = I18n.t('mailer.powered_by')
                                                %a{:href => "https://www.trysapling.com", :target => "_blank"}
                                                  = I18n.t('mailer.sapling')
                                                = I18n.t('mailer.supporting_success')
