- _initials = ""
- _img_src = ""
-if @employee.picture.present?
  -_img_src = @employee.picture
-else
  -_initials = "#{@employee_first_name[0].try(:upcase)} #{@employee.last_name[0].try(:upcase)}"
- _header_text = @employee_first_name + " " + @employee.last_name
- _email_title = I18n.t('mailer.offboarding_tasks_email.header_top')
- _email_body_html = @email_desc.present? ? CGI.unescapeHTML(@email_desc).html_safe : I18n.t('mailer.offboarding_tasks_email.help', tasks_in_words: @tasks_count.humanize.capitalize, task_count: @tasks_count, first_name: @employee_first_name, last_name: @employee.last_name, company: @company.name, date: @employee.last_day_worked.strftime('%b %d, %Y')).html_safe
- _email_body_html = _email_body_html + I18n.t('mailer.offboarding_tasks_email.link_below')
- _footer_plain = ""
- _footer_linked = ""
- _footer_link_to = ""

-if @task_type == "workspace"
  - _body_button_link = "https://#{@company.app_domain}/#/workspace/#{@invited.try(:id).try(:to_s)}/tasks"
-else
  - _body_button_link = "https://#{@company.app_domain}/#/tasks/#{@invited.try(:id).try(:to_s)}"

- _body_button_text = I18n.t('mailer.offboarding_tasks_email.offboarding')
- _body_button_color = @company.email_color || "#3F1DCB"

= render "mail_template", locals: {img_src: _img_src,header_text: _header_text, email_title: _email_title, email_body_html: _email_body_html, body_button_text: _body_button_text, body_button_color: _body_button_color, body_button_link: _body_button_link, footer_plain: _footer_plain, footer_linked: _footer_linked, footer_link: _footer_link_to, initials: _initials}
