<%= render partial: 'layout' %>
<div class="datatable-margin">
  <div class="row">
    <div class="col-md-10">
      <h2 class="logging-title"> Papertrail Loggings </h2>
      <table class="table table-bordered table-hover table-striped table-papertrail-logs">
        <thead>
          <tr>
           <th width="7%"> Company Name </th>
           <th width="7%"> What </th>
           <th width="7%"> Who </th>
           <th width="7%"> When </th>
           <th width="24%"> Original Value </th>
           <th width="42%"> New Value </th>
           <th width="5%"> View </th>
         </tr>
        </thead>
        <tbody>
          <% @versions.each do |v| %>
            <tr>
              <td> <%= company_name(v) %> </td>
              <td> <%= format_papertrail_event(v) %> </td>
              <td> <%= who_made_the_change(v.whodunnit, true) %> </td>
              <td> <%= format_date(v.created_at) %> </td>
              <td> <%= inspect_change_set(v, true) %> </td>
              <td> <%= inspect_change_set(v, false) %> </td>
              <td> <button class="btn btn-default sm btn-font-sm" onClick="show_papertrail_logs(<%= v.id %>)">
                     <i class="fa fa-info-circle"></i>
                   </button>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @versions %>
      <%= page_entries_info @versions, entry_name: 'log' %>
    </div>
    <div class="col-md-2 filters">
      <div class="form-group find-by-id">
        <label for="search">Find By Papertrail ID:</label>
        <input id="papertrail_search" type="text" onkeyup="papertrail_button()" class="form-control">
      </div>
      <input type="hidden" id="hidden_button" data-toggle="modal" data-target="#papertrail_modal"></button>
      <button type="button" onClick="show_papertrail_logs(0)" id="papertrail_button" class="btn btn-primary" disabled>Search</button>
      <hr/>
      <h1 class="bold">Filters:</h1>
      <form autocomplete="off" onsubmit="return submit_filters()">
        <%= render partial: 'filters' %>
        <div class="form-group">
          <label for="item_type">Item Type</label>
          <%= select_tag :item_type, options_for_select(@papertrail_item_types, params[:item_type]), class: "form-control"  %>
        </div>
        <div class="form-group">
          <label for="user_id">User ID</label>
          <%= text_field_tag :user_id, params[:user_id], class: "form-control" %>
        </div>
        <%= render partial: 'date_filters' %>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="papertrail_modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content modals-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Papertrail Log<a href="" id="papertrail_href" style="margin-left: 5px;" target="_blank"> View</a></h4>
      </div>
      <div class="modal-body" id="papertrail_modal_body">
        <form class="madals">
          <div class="form-group">
            <label for="company_name">Company Name:</label>
            <p id="papertrail_company_name" type="text" class="form-control" disabled >
          </div>
          <div class="form-group">
            <label for="what">What:</label>
            <p id="papertrail_what" type="text" class="form-control" disabled >
          </div>
          <div class="form-group">
            <label for="who">Who:</label>
            <p id="papertrail_who" type="text" class="form-control" disabled >
          </div>
          <div class="form-group">
            <label for="when">When:</label>
            <p id="papertrail_when" type="text" class="form-control" disabled >
          </div>
          <div class="form-group">
            <label for="original_value">Original Value:</label>
            <p id="papertrail_original_value" type="text" class="form-control" disabled >
          </div>
          <div class="form-group">
            <label for="new_value">New Value:</label>
            <p id="papertrail_new_value" type="text" class="form-control" disabled >
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
